name: Build

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: 'ubuntu-latest'
    steps:
      - uses: actions/checkout@v5
  
      - name: Set ENV
        working-directory: cronet
        run: | 
          chmod +x *.sh
          echo "unix_time=$(date +%s)" >> $GITHUB_ENV
    
      - name: Build
        working-directory: cronet
        run: |
          ./build.sh

      - name: Upload Release artifacts
        uses: actions/upload-artifact@v4
        with:
          name: chromium-release
          path: ./cronet/chromium/src/out/Release

